* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Navbar container styling */
.navbar {
    background-color: black;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    color: white;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

/* Left navigation (logo/title) */
.l-nav {
    display: inline-block;
}

/* Right navigation (menu items) */
.r-nav {
    display: inline-block;
}

/* Unordered list styling */
ul {
    display: flex;
    list-style: none;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}

/* List item styling */
li > a {
    text-decoration: none;
    color: white;
    opacity: 89%;
    font-size: 1.1rem;
    display: inline-block; /* Ensure the link is treated as a block for scaling */
    transition: opacity 0.3s, font-size 0.2s, transform 0.2s; 
}

/* Hover effect for list items */
li > a:hover {
    opacity: 100%;
    /* font-size: 1.2rem; */
    /* position: ; */
    transform: scale(1.2);
}

/* Heading styling */
h1 {
    font-size: 20px;
    margin: 5px 0;
}

.op{font-size: 3rem;}


/* //Login Form */

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    row-gap: 20px;
}

form input {
    width: 90vw;
    max-width: 1400px;
    font-size: 22px;
    line-height: 30px;
    padding-left: 12px;
    border-radius: 2px;
    height: 6.5vh;
}

input::placeholder {
    color: brown;
    font-size: 18px;
}

form h1 {
    font-weight: 400;
    font-size: 28px;
}

.main-container {
    margin-top: 25px;
}

form button {
    width: 80px;
    height: 25px;
    cursor: pointer;
}

#submit-btn{
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    margin-right: 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.op{font-size: 3rem;}